.card {
    box-sizing: border-box;
    width: 300px;
    height: auto;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    font-family: sans-serif;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name {
    font-size: 18px;
}
