.component-card-task{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 28.7rem;
    box-sizing: border-box;
    border-radius: 0.5rem;  
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);    
}
.head-component-card-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0rem 1.2rem;
    box-sizing: border-box; 
}
.content-component-card-task{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem 1.2rem;
}
.content-component-card-task span{
    width: 100%;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1.6rem;
}
.footer-component-card-task{
    box-sizing: border-box;
    padding: 0.8rem 1.2rem;
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
    width: 100%;
}
.icon-btn-edit{
    width: 2.4rem;
    height: 2.4rem;
    background-color: white;
    border: none;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 0;
}
.icon-edit{
    width: 100%;
    height: 100%;
}
.icon-edit path {
  fill: #333;
}
.user-name{
    box-sizing: border-box;
    width: auto;
    height: 2.6rem;
    padding: 0.4rem 1.2rem;
    background-color: #0013FE;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
}
.footer-component-card-task{
    border-top: 1px solid #E6ECF0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.box-icon-pin{
    width: 2.4rem;
    height: 2.4rem;
}
.footer-component-card-task > div:nth-child(1) {
    display: flex;
    width: 3.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}
.footer-component-card-task > div:nth-child(3) {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}