header{
    width: 100%;
    height: 7.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
}
.search-bar{
   width: auto;
   height: auto;
}
.search-bar input{
    width: 31.8rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: 1px solid #E6ECF0;
}
.btn-news{
    width: auto;
    height: auto;
}
.btn-news button{
    width: 10.3rem;
    height: 4rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #0013FE;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1.1rem 1.5rem;
}