.divider{
  width: 100%;
  height: 100%;
  margin-top: 200px;
}
.form-input{
  width: 200px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.form-input input{
  width: 100%;
  height: 30px;
}
.form-input button{
  width: 50%;
  height: 30px;
}