.sub-name-status{
    width: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    font-size: 1.5rem;
    gap: 2.1rem;
}
.sub-name-status div h3{
    margin: 0;
}
.sum-task{
    width: 3rem;
    height: 3rem;
    background-color: #D5D5D5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}